body {
  background-color:black;
  color: azure;
}

h1 {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: palevioletred ;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 70%;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: palevioletred;
}
